<div class="page">
  <div class="reset-password-container">
    <div class="reset-password-card">
      <div class="reset-password-header">
        <div class="reset-password-logo-img">
          <img src="assets/favicon.png" alt="Logo Helha Fresh" />
        </div>
        <h1 class="reset-password-title">Password reset</h1>
      </div>

      <form class="reset-password-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>New password :</label>
          <input
            class="form-input"
            type="password"
            formControlName="newPassword"
            required
          />

          <!-- Liste affichée seulement si non vide et pas tous les critères validés -->
          <ul
            class="password-requirements"
            *ngIf="resetForm.get('newPassword')?.value && !allCriteriaValid"
          >
            <li [class.valid]="passwordCriteria.minLength" [class.invalid]="!passwordCriteria.minLength">
              At least 8 characters
            </li>
            <li [class.valid]="passwordCriteria.uppercase" [class.invalid]="!passwordCriteria.uppercase">
              At least one uppercase letter
            </li>
            <li [class.valid]="passwordCriteria.lowercase" [class.invalid]="!passwordCriteria.lowercase">
              At least one lowercase letter
            </li>
            <li [class.valid]="passwordCriteria.number" [class.invalid]="!passwordCriteria.number">
              At least one number
            </li>
            <li [class.valid]="passwordCriteria.specialChar" [class.invalid]="!passwordCriteria.specialChar">
              At least one special character (@$!%*?&)
            </li>
          </ul>
        </div>


        <button class="btn-reset-password" type="submit" [disabled]="resetForm.invalid">
          Réinitialiser
        </button>
      </form>

      <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
  </div>
</div>
