<div class="page">
  <div class="reset-password-container">
    <div class="reset-password-card">
      <div class="reset-password-header">
        <div class="reset-password-logo-img">
          <img src="assets/favicon.png" alt="Logo Helha Fresh" />
        </div>
        <h1 class="reset-password-title">Réinitialisation du mot de passe</h1>
      </div>
      <form class="reset-password-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nouveau mot de passe :</label>
          <input class="form-input" type="password" formControlName="newPassword" required />
          <div *ngIf="resetForm.controls['newPassword'].invalid && resetForm.controls['newPassword'].touched">
            Le mot de passe est requis (min. 6 caractères).
          </div>
        </div>
        <button class="btn-reset-password" type="submit" [disabled]="resetForm.invalid">Réinitialiser</button>
      </form>

      <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
  </div>
</div>
