<div class="page">
  <div class="forgot-password-container">
    <div class="forgot-password-card">
      <div class="forgot-password-header">
        <div class="forgot-password-logo-img">
          <img src="assets/favicon.png" alt="Logo Helha Fresh" />
        </div>
        <h1 class="forgot-password-title">password forgotten</h1>
        <p class="forgot-password-subtitle">Section manager</p>
      </div>
      <form class="forgot-password-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">email</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
            class="form-input"
          />
        </div>
        <button type="submit" class="btn-forgot-password">
          Send reset link
        </button>
      </form>

      @if (message) {
        <p class="success-message" style="color: green;">{{ message }}</p>
      }

      @if (error) {
        <p class="error-message" style="color: red;">{{ error }}</p>
      }
    </div>
  </div>
</div>
