<div class="page">
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <div class="login-logo-img">
          <img src="assets/favicon.png" alt="Logo Helha Fresh" />
        </div>
        <h1 class="login-title">Helha Fresh</h1>
        <p class="login-subtitle">Manager Section</p>
      </div>
      <form class="login-form" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username">Username</label>
          <input [(ngModel)]="login" name="pseudo" type="text" id="username" placeholder="Entrez votre nom d'utilisateur" class="form-input">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="mot_de_passe" name="password" type="password" id="password" placeholder="Entrez votre mot de passe" class="form-input">
        </div>
        <button type="submit" class="btn-login">
          Se connecter
        </button>
      </form>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div class="login-footer">
        <p>Forgot password?</p>
      </div>
    </div>
  </div>
</div>
